.header__zebra {
  position: fixed;
  z-index: 100;
  display: flex;
}
.container__logo {
  color: #ffffff;
  padding: 1vw;
}

.navbar__zebra a {
  color: antiquewhite;
  text-decoration: none;

}


@media (min-width: 1024px) {

  .header__zebra {
    justify-content: space-between;
    width: 100%;
}
  
  .navbar__zebra ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar__zebra li {
    padding: 1vw;

  }
}